body {
  font-family: Helvetica;
  background-color: aliceblue;
  /* color: red; */
  padding: 40px 0px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

span {
  color: grey;
}

section,
header {
  padding: 10px 60px 20px 60px;
  background-color: white;
  width: 960px;
  margin-left: 110px;
  margin: 0 auto 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  list-style: none;
}

header li {
  margin-bottom: 15px;
}

.address-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  padding: 2px;
  vertical-align: middle;
  background-color: cornflowerblue;
}

.circle {
  border-radius: 25%;
}

.profile-picture {
  width: 200px;
  height: 200px;
}
